.container{
    display: grid;
    height: 100vh;
    grid-template-columns: auto auto auto auto;
    grid-template-rows:0.5fr 5fr 0.6fr 0.2fr ;
    grid-template-areas: 
    	    "nav nav nav nav"
            "leftsidebar main main rightsidebar"
            "footer footer footer footer"
      ;
      text-transform: uppercase;
      text-align: center;
      color: white;
    gap: 6px;
}


nav{
    background-color:#fe8515 ;
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftsidebar{
    background-color: #7fc242;
    grid-area: leftsidebar;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color:#8bf10a ;
    grid-area: main;
    border-radius: 10px;display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}


.rightsidebar{
    background-color: #7fc242;
    grid-area: rightsidebar;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;



}
footer{
    background-color: #f57e20;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}